
<!-- CLASE 295 :
{{}} : SE USA DOBLE LLAVE PARA IMPRIMIR EL VALOR DEL AS VARIABLES.
CLASE 298 : INTEGRANDO BOOTSTRAP - BARRA DE NAVEGACIÓN.

https://protegermipc.net/2018/11/22/permitir-la-ejecucion-de-scripts-powershell-en-windows-10/
https://www.cdmon.com/es/blog/la-ejecucion-de-scripts-esta-deshabilitada-en-este-sistema-te-contamos-como-actuar#:~:text=Para%20poder%20ejecutar%20los%20scripts,scripts%20maliciosos%20en%20el%20sistema.

CLASE309 :
<router-outlet> : SE AGREGA UNA DIRECTIVA ESPECIAL PARA CARGAR LAS RUTAS. ES UNA DIRECTIVA DE ANGULAR QUE INDICA DONDE SE VAN A RENDERIZAR, A MOSTRAR EL CONTENIDO DE CADA RUTA.

CLASE336 :
...viene de styles.css ...
AGREGA ESTO pb-5 EN EL DIV PARA ESPACIADO DE LA TABLA CON EL FOOTER.
...se va a clientes component.html
 -->



<app-header></app-header>

<div class="container my-3 pb-5">

  <!--<h1>{{title}}!</h1>
  <app-directiva></app-directiva>
  <br>
  <app-clientes></app-clientes>
  -->

<router-outlet></router-outlet>


</div>
<app-footer></app-footer>
